body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dvCaixasValores {
  width: 100%;
  text-align: center;
}

.dvCaixasValores div {
  display: inline-block;
  text-align: left;
  background-color: beige;
  width: 22%;
  padding: 20px;
}

.dvCaixasValores div:nth-child(2) {
  background-color: aquamarine;
}
.dvCaixasValores div:nth-child(3) {
  background-color: red;
}

.dvBusca {
  margin-top: 30px;
}

.dvBusca div, .dvBusca form input, .dvBusca form button {
  display: inline-block;
}

.dvBusca form input {
  width: 80%;
}

.dvBusca form button {
  width: 19%;
}

.dvBusca div:nth-child(1) {
  width: 80%;
}

.dvBusca div:nth-child(2) {
  width: 19%;
  text-align: right;
}

.dvTabela {
  margin-top: 30px;
}
